IO_LOC "led_n[5]" N23;
IO_LOC "led_n[4]" N21;
IO_LOC "led_n[3]" M25;
IO_LOC "led_n[2]" L20;
IO_LOC "led_n[1]" R26;
IO_LOC "led_n[0]" J14;
IO_LOC "clk" P16;
IO_LOC "rst" U4;
IO_LOC "key_n[3]" G16;
IO_LOC "key_n[2]" G15;
IO_LOC "key_n[1]" F15;
IO_LOC "key_n[0]" K16;

IO_PORT "led_n[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_n[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "rst" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "key_n[3]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "key_n[2]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "key_n[1]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "key_n[0]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "rgmii_clk" E18;
IO_LOC "rgmii_rst_n" E17;
IO_LOC "rgmii_rxc" C23;
IO_LOC "rgmii_rx_ctl" C22;
IO_LOC "rgmii_rxd[0]" B26;
IO_LOC "rgmii_rxd[1]" C26;
IO_LOC "rgmii_rxd[2]" D26;
IO_LOC "rgmii_rxd[3]" E26;
IO_LOC "rgmii_txc" H24;
IO_LOC "rgmii_tx_ctl" J24;
IO_LOC "rgmii_txd[0]" K21;
IO_LOC "rgmii_txd[1]" J21;
IO_LOC "rgmii_txd[2]" L19;
IO_LOC "rgmii_txd[3]" K18;
IO_LOC "mdc" K23;
IO_LOC "mdio" K22;

IO_PORT "rgmii_clk" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_rst_n" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_rxc" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_rx_ctl" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_rxd[0]" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_rxd[1]" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_rxd[2]" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_rxd[3]" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_txc" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_tx_ctl" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_txd[0]" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_txd[1]" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_txd[2]" IO_TYPE=LVCMOS33;
IO_PORT "rgmii_txd[3]" IO_TYPE=LVCMOS33;
IO_PORT "mdc" IO_TYPE=LVCMOS33;
IO_PORT "mdio" IO_TYPE=LVCMOS33;
